<li>
  <%= image_for(user) %>
  <% if current_user.matchers.include?(user) %>
  <%= link_to user.name+"とトーク", "/talks/#{user.id}",class: "gotalk" %>
  <% end %>
  <%= link_to user.name, user %>
</li>
